<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YouHoo.DataBll.Properties.Settings.KeChuangeConnectionString"
            connectionString="Data Source=.;Initial Catalog=KeChuange;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="YouHoo.DataBll.Properties.Settings.Epumping_2017ConnectionString"
            connectionString="Data Source=106.14.56.171;Initial Catalog=Epumping_2017;Persist Security Info=True;User ID=sa;Password=Xiangmao368"
            providerName="System.Data.SqlClient" />
        <add name="YouHoo.DataBll.Properties.Settings.KeChuangeConnectionString1"
            connectionString="Data Source=.;Initial Catalog=KeChuange;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="YouHoo.DataBll.Properties.Settings.UFDATA_001_2017ConnectionString"
            connectionString="Data Source=.;Initial Catalog=UFDATA_001_2017;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>