.input_60 { width: 60px !important; }
.input_100 { width: 100px !important; }
.input_155 { width: 155px !important; }
.input_260 { width: 260px !important; }
.input_268 { width: 268px !important; }
.input_350 { width: 350px !important; }
